@import '../../styles/variables';

.search-result {
  min-height: calc(100vh - 60px);

  padding-bottom: 16px;

  background-color: $grey-4;

  .products {
    @media(max-width: 764px) {
      width: 100%;
    }
  
    width: 80%;
  
    margin: 0 auto;

    &__wrapper {
      background-color: $white;

      border-radius: 4px;
      overflow: hidden;
    }
  }
}

.without-results {
  @media(max-width: 764px) {
    width: 100%;
  }

  width: 80%;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 10px 0;

  h3 {
    font-size: 50px;
    color: $grey-2;
  }
}